In [6]:
import pandas as pd
import numpy as np
import re

In [7]:
node_set = set([])
edge_list = []

In [8]:
f = open('./node_link_dataset/download.tsv.convote/convote/out.convote')
lines = f.readlines()

nodes = {}

for line in lines[1:]:
    splitted_line = re.split(r'[ \n]', line)
    splitted_line.pop()
    edge_list.append({'Source':splitted_line[0], 'Target':splitted_line[1], 'Type':'Directed', 'Category':int(splitted_line[2])})
    node_set.add(splitted_line[1])
    node_set.add(splitted_line[0])

In [9]:
node_list = []
for i in node_set:
    node_list.append({'Id' : i, 'Label' : i})

nodes_df = pd.DataFrame(node_list)
nodes_df

      Id Label
0    114   114
1    191   191
2     11    11
3    168   168
4    142   142
..   ...   ...
214   96    96
215   56    56
216  120   120
217  167   167
218  138   138

[219 rows x 2 columns]

In [10]:
edges_df = pd.DataFrame(edge_list)
edges_df_negative = edges_df[edges_df['Category'] == -1]
edges_df_negative.drop(columns=['Category'], inplace=True)
edges_df_negative

C:\Users\Siddharth Kothari\AppData\Local\Temp\ipykernel_13900\2330202030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edges_df_negative.drop(columns=['Category'], inplace=True)

    Source Target      Type
3        1      3  Directed
4        1      4  Directed
7        5      7  Directed
18      10      2  Directed
21      10      7  Directed
..     ...    ...       ...
756    214     54  Directed
759     18     42  Directed
760     18     10  Directed
761     42     18  Directed
763     42    195  Directed

[149 rows x 3 columns]

In [11]:
edges_df_positive = edges_df[edges_df['Category'] == 1]
edges_df_positive.drop(columns=['Category'], inplace=True)
edges_df_positive

C:\Users\Siddharth Kothari\AppData\Local\Temp\ipykernel_13900\2201651944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edges_df_positive.drop(columns=['Category'], inplace=True)

    Source Target      Type
0        1      2  Directed
1        1      2  Directed
2        1      2  Directed
5        5      6  Directed
6        5      6  Directed
..     ...    ...       ...
753    209    143  Directed
754    209     54  Directed
757    214    204  Directed
758    200     54  Directed
762     42     17  Directed

[615 rows x 3 columns]

In [12]:
edges_df_positive.to_csv("./node_link_dataset/edges_positive.csv", index=False)
edges_df_negative.to_csv("./node_link_dataset/edges_negative.csv", index=False)
nodes_df.to_csv("./node_link_dataset/nodes.csv", index=False)